/*Font*/

$font: 'Red Hat Display', sans-serif;

/*Colors*/

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$white: hsl(0, 0%, 100%);
$bright-blue-blur: hsla(245, 75%, 52%, 0.5);
$purple: hsl(245, 72%, 59%);